@font-face {
    font-family: 'mashine';
    src: url(../fonts/a_OldTyperNr.ttf);
}

textarea {
    min-height: 400px;
}

.inbox_list, .display_div {
    margin-bottom: 4px;
    padding: 5px;
}

.display_div {
    display: flex;
}

.inbox_div {
    width: 90%;
    border: 2px solid black;
    padding: 5px;
}

#body {
    width: 100%;
    border: none;
    outline: none;
}

