@font-face {
    font-family: 'mashine';
    src: url(../fonts/a_OldTyperNr.ttf);
}
@font-face {
    font-family: 'title_font';
    src: url(../fonts/Ekaterina_Velikaya_One.ttf);
}
@font-face {
    font-family: 'first_female';
    src: url(../fonts/female1.ttf);
}
@font-face {
    font-family: 'second_female';
    src: url(../fonts/female2.ttf);
}
@font-face {
    font-family: 'first_male';
    src: url(../fonts/male1.ttf);
}
@font-face {
    font-family: 'second_male';
    src: url(../fonts/male2.ttf);
}

@media (max-width: 400px) {
    #letter-info-div {
        width: 328px;
        height: 229px;
        padding-top: 60px;
    }
}
@media (min-width: 401px) {
    #letter-info-div {
        width: 380px;
        height: 267px;
        padding-top: 75px;
    }
}

@media (max-width: 530px){
    #main_title {
        font-size: 1.7rem;
    }
    #main_title_div{
        height: 98px;
    }
    .top-buttons-div{
        display: flex;
        justify-content: center;
        button {
            margin-left: 2px;
            margin-right: 2px;
        }
        :last-child {
            margin-left: 2px;
        }
    }
}

@media (min-width: 531px) and (max-width: 767px){
    #main_title {
        font-size: 2.5rem;
    }
    #main_title_div{
        height: 130px;
    }
}

@media (min-width: 768px){
    #main_title {
        font-size: 2.8rem;
    }
    #main_title_div{
        height: 145px;
    }
    .inbox_div{
        p {
            float: right;
        }
    }
}

@media (max-width: 991px) {
    .top-buttons-div{
        display: flex;
        justify-content: center;
        button {
            margin-left: 2px;
            margin-right: 2px;
        }
        :last-child {
            margin-left: 2px;
        }
    }
}

textarea {
    min-height: 400px;
}

.inbox_list, .display_div {
    margin-bottom: 4px;
    padding: 5px;
}

.display_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'mashine';
    h4 {
        overflow: hidden;
        margin-left: 5px;
    }
    cursor: pointer;
    p {
        font-weight: bold;
    }
}

.inbox_div {
    // width: 90%;
    width: 100%;
    border: 2px solid black;
    padding: 5px;
}

#body {
    width: 100%;
    border: none;
    outline: none;
    // background-image: url(../images/letter_backgound.jpg);
}

body {
    background-image: url(../images/wood2.jpg);
}

#main_title {
    font-family: 'title_font';
    text-align: center;
    color: black;
    margin-bottom: 100px;
    // font-size: 2.8rem;
    font-weight: 500;
}

#main_title_div{
    background-color: #bb8557d1;
}

#your_email {
    color: black;
    font-family: 'mashine';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;

}

h3 {
    color: black;
    font-family: 'mashine';
}

#compose-form {
    background-image: url(../images/paper.jpg);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    div {
        input {
            font-family: 'first_male';
            font-size: 1.2rem;
            background-color: transparent;
            color: #0101f1cf;
        }
        span {
            font-family: 'mashine';
        }
        
    }
}

// #compose-body, #compose-subject{
//     color: #0101f1cf;
// }

#compose-body {
    font-family: 'first_male';
    font-size: 1.5rem;
    background-color: transparent;
    resize: none;
    color: #0101f1cf;
}

#letter-info-div {
    background-image: url(../images/letter_backgound.jpg);
    background-size: cover;
    // width: 380px;
    // height: 267px;
    // padding-top: 75px;
    padding-left: 20px;
    .text-before {
        font-family: 'mashine';
        color: #000000d6;
    }
    span {
        font-family: 'first_male';
        color: #0101f1cf;
    }
}

#body {
    background-image: url(../images/paper.jpg);
    background-color: transparent;
    padding-left: 55px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'first_male';
    font-size: 1.5rem;
    resize: none;
    color: #0101f1cf;
    margin-bottom: 60px;
    min-height: 600px;
}

.login-div {
    font-family: 'mashine';
    margin-top: 15%;
    background-color: #bdbd91d1;
    padding: 20px;
    h2, span {
        color: black;
    }
    span, a {
        font-size: 1.2rem;
    }
    a {
        color: #006ffd;
    }
}

h4 {
    font-weight: bold;
}

#letter-view {
    flex-direction: column;
    align-items: center;
}