{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Вхідні</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Написати</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Надіслані</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Архів</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Вийти</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>Написання листа</h3>
        <form id="compose-form">
            <div class="form-group">
                Від: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                Кому: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                Тема: <input class="form-control" id="compose-subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Тіло листа"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
    {% comment %} Перегляд листа {% endcomment %}
    <div id="letter-view">
        <div id='letter-info-div'>
            <span id='from'>Від:</span><br>
            <span id='to'>Кому:</span><br>
            <span id='subject'>Тема:</span>
        </div>
        <hr>
        <div id='letter-body-div'>
            <p id='body'></p>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}